.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imagens/grand_canyon.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;

}

